:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #6e7dff, #ff6e7d);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.Homework {
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out; 
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  animation: fadeIn 1s ease-in-out;
}
button {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Very light transparent border */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.05); /* Very light transparent background */
  cursor: pointer;
  transition: background 0.5s, border-color 0.25s, transform 0.25s;
}

button:hover {
  background: rgba(255, 255, 255, 0.15); /* Slightly more opaque on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Add subtle shadow on hover */
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(135deg, #6e7dff, #ff6e7d);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background: linear-gradient(45deg, #f9f9f9, #e0e0e0);
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.description-title {
  font-size: 2.5em; /* Adjust size */
  font-weight: bold; /* Make it bold */
  color: #ffffff; /* White color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
  margin-bottom: 10px; /* Space below */
  text-align: center;
}

.description-text {
  font-size: 1.2em; /* Adjust size */
  line-height: 1.5; /* Improve readability */
  color: #e0e0e0; /* Light gray color */
  animation: fadeIn 1s ease-in-out; /* Add fade-in effect */
}

.notification-text {
  font-size: 1.5em; /* Adjust size */
  font-weight: bold; /* Make it bold */
  color: #ffffff; /* White color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
  margin-bottom: 10px; /* Space below */
  text-align: center;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.list-feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  margin: 15px;
  list-style: none;
}